.skill_lang{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
.skill_button{
    width:100px;
    height:100px;
    padding:0px;
    border:none;
    background:none;
}
.html{
    background-color: #f54927;
}
.css{
    background-color: #663399;
}
.javascript{
    background-color: #f0dB4f;
}
.cpp{
    background-color: #00599c;
}
.python{
    background-color: #4b8bbe;
}
.git{
    background-color: #f1502f;
}
.github{
    background-color: #666666;
}
.vscode{
    background-color: #0098ff;
}
.typst{
    background-color: #7fdbff;
}
.solidworks{
    background-color: #da291c;
}
.project_img{
    width: 480px;
    height: 270px;
}
.project_icon{
    width: 480px;
    height:270px;
}