.header {
    background-color: var(--main-bg-color);
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--main-text-color);  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}