h1{
    color: blue;
    font-family:serif;
    background-color: lightgray;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin: 0px;
}
:root {
    --header-height: 56px;
}
.img_favicon{
    width: 32px;
    height: 32px;
}
/* a{
    color: green;
    text-decoration: none;
} */
.content{
    margin: 20px;
    padding: 15px;
    border: 1px solid #0000ff;
    border-radius: 5px;
}
.img_lang_logo{
    width: 50px;
    height: 50px;
}
.project_logo{
    width: 75px;
    height: 75px;
}
.header{
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    box-sizing: border-box;
    z-index: 1000;
}
.main{
    padding-top: var(--header-height);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAAAAA;
}

.contents{
    color: inherit;
    text-decoration: none;
    margin-right: 0px;
    padding: 0px;
}
.whoami{
    background-color: #DDDDDD;
    margin-top: 0px;
    padding: 8px;
}
.career{
    background-color: #888888;
    margin-top: 0px;
    padding: 8px;
}
.skills{
    background-color: #DDDDDD;
    margin-top: 0px;
    padding: 8px;
}
.projects{
    background-color: #888888;
    margin-top: 0px;
    padding: 8px;
}
.contact{
    background-color: #DDDDDD;
    margin-top: 0px;
    padding: 8px;
}

.cpp{
    background-color: #3333FF;
}